body {
    background-color: rgba(128, 128, 230, 0.5);
}

/* Navigation related styling */
.navbar.navbar-default {
    background-color: #010C22;
}

.navbar.navbar-default > .navbar-header > h1 {
        color: white;
        padding-left: 25px;
}

/* Normal links in navbar */
.navbar-default .navbar-nav > li > a:link {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #c1d1f2;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:visited {
    color: #616161;
    font-weight: bold;
}

.navbar.navbar-inverse.navbar-fixed-bottom {
    background-color: #010C22;
    color: white;
    text-align: right;
}

/* Panel related styling*/
#pnlBookingForm {
    padding-left: 10px;
    padding-top: 10px;
}

/* Form related styling */
sup {
     color: red;
 }

 /* Results table styling */
table.results {
    text-align: left;
    border: 3px solid black;
    border-collapse: collapse;
 }

tr.results {
    margin-top: 12px;
    margin-bottom: 12px;
    height: 24px;
}

th.results {
    height: 36px;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: #010C22;
    color: #ffffff;
}

tr.results:nth-child(even) {
    background-color: rgb(128, 128, 230);
}

tr.results:nth-child(odd) {
    background-color: #ffffff;
}

td.results {
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* Emphasis on div styling */
div.one {
    background-color: rgba(128, 128, 230, 0.5);
    border: 1px solid #010C22;
    padding-top: 15px;
}

div.two {
    background-color: #ffffff;
    border: 1px solid #010C22;
    padding-top: 15px;
}

div.main {
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top:1px;
}


/* Error styling */
div.error {
    background-color: darksalmon;
    color: red;
}
